body{
background-color: black;
}
.app{
    display:grid;
    grid-template-columns: 15% 15% 15%;
    border-style: double;
    text-align: center;
    background-color: 'blue';
    width: 400px;
    height: 300px;
    margin: 0 auto;
    align-items: ;
    color:blueviolet;
    background-color: black;
}

div.grid{
    display:grid;
    grid-template-columns: 200% 200% 200%;
    gap:500;
}